.git
.gitignore

.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
.ipynb_checkpoints/

.env
*.env

outputs/
reports/
tmp/
cache/
data/
dataset/
models/
weights/
checkpoints/
runs/
wandb/
mlruns/

*.pt
*.pth
*.ckpt
*.onnx
*.safetensors
*.pkl
*.joblib
